<div class="m-5 d-flex">
  <div class="card mb-3 flex-grid">
      <img src="https://picsum.photos/200/50" class="card-img-top" alt="Image">
      <div class="card-body">
          <h5 class="card-title">{{page.title}}</h5>
          <p class="card-text">{{page.content}}</p>
          <button *ngIf="!completed" (click)="navigateToDo()">Do</button>
          <button *ngIf="!completed" (click)="complete()">Done</button>
          <p *ngIf="completed">Page Completed!</p>
      </div>
  </div>
</div>
